[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
payment_contract = "EH7hw6xEUm9seh7Ss3jGERDXh7UeFY4ZA9X1wdLd5hif"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "/home/chandini/Desktop/ArData/payment-contract/devnet-wallet.json"

[scripts]
test = "npx mocha -t 1000000 tests/**/*.js"